body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden !important;
}

#related-items{
  z-index: -1;
}

#productDisplay{
  z-index: -1;
}

.slider {
  text-align: center;
  display: inline-block;
  width: 90vw;
  margin: 1rem;
  /* height: 500px; */
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

.slider h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 13px 0;
}
.item-box {
  width: 265.5px;
  margin: 25px 0;
  padding: 10px 2px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.item-box, img {
  text-align: center;
  width: 13vw;
  margin: 0, 5px;
}

img:hover {
  cursor: pointer;
}
.item-box .item-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  margin: 10px auto 0 auto;
  font-size: 7px;
  font-weight: 100;
  line-height: 19.5px;
  

}
.item-box .item-info .item-details {
  height: 6vh;
  overflow: hidden;

}
.item-box .item-info .item-price {
  height: 19px;
  margin: 6px 0 0 0;
}
.item-box .item-info .add-to-bag {
  height: 3.3vh;
  background-color: black;
  background-attachment: scroll;
  color: white;
  text-align: center;
}
.item-box .item-info .add-to-bag .text{
  /* display: inline-block; */
  font-weight: 800;
  font-size: 7px;
  /* letter-spacing: 1.5px; */
  /* margin: 6px 0 0 0; */
  /* height: 19px; */
}
.item-box .item-info .add-to-bag select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  top: -25px;
  align-items: center;
  background-attachment: scroll;
  cursor: pointer;
  height: 30px;
  max-width: 100%;
  min-width: 1px;
  opacity: 0;
  outline-offset: -2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  vertical-align: middle;
  white-space: pre;
  width: 188px;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
}
.slick-arrow {
  width: 2vw;
  height: 4.5vh;
}

#add-to-bag{
  width: 100%;
  height: 60%;
  /* position: absolute;
  top: 80vh;
  right:0;
  left: 0;
  overflow: visible !important; */
  /* display: none; */
}

.ui.basic.segment{
  display: flex;
  flex-direction: column;
}

.ui.segment.pushable{
  overflow: visible !important;
  background: 0, 0, 0, 0;
}

.ui.sidebar{
  overflow: visible;
}


#productDisplay{
  width: 100%;
  height: none !important;
}

.ui.white.vertical.labeled.icon.ui.overlay.right.visible.sidebar.sidebar.menu{
  position: absolute;
  top: 1vh;
  /* bottom: 63vh; */
  overflow: visible !important;
  /* height: 100% !important; */
  width: 100% !important;
  height: 100vh !important;
}

.checked {
  color: orange;
}

.reviewer-name{
  font-family: 'Oswald', sans-serif;
}

.review-title{
  font-family: 'Oswald', sans-serif;
}

.review{
  font-family: 'Oswald', sans-serif;
}
.review-list {
  display: initial;
  width: 100%;
}
