body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* #productDisplay {
  max-height: 80vh;
} */

/* img {
  width: 66%
} */

#related-items {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
/* .slider {
  text-align: center;
  display: inline-block;
  width: 90%;
  height: 500px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
} */

/* .slider h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 13px 0;
} */
/* .item-box {
  width: 265.5px;
  height: 500px;
  margin: 25px 0;
  padding: 10px 2px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
} */
/* .item-box, img {
  text-align: center;
  width: 225px;
  margin: 0, 5px;
} */
img:hover {
  cursor: pointer;
}
/* .item-box .item-info {
  text-align: center;
  height: 100px;
  width: auto;
  margin: 10px auto 0 auto;
  font-size: 14px;
  font-weight: 100;
  line-height: 19.5px;
  
} */
/* .item-box .item-info .item-details {
  height: 38px;
  overflow: hidden;
} */

/* .item-box .item-info .item-price {
  height: 19px;
  margin: 6px 0 0 0;
} */
/* .item-box .item-info .add-to-bag {
  height: 30px;
  width: 188px;
  background-color: black;
  background-attachment: scroll;
  color: white;
  text-align: center;
  margin: 0 18.5px;
} */

/* .item-box .item-info .add-to-bag .text{
  display: inline-block;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin: 6px 0 0 0;
  height: 19px;
} */

/* .item-box .item-info .add-to-bag select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  top: -25px;
  align-items: center;
  background-attachment: scroll;
  cursor: pointer;
  height: 30px;
  max-width: 100%;
  min-width: 1px;
  opacity: 0;
  outline-offset: -2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  vertical-align: middle;
  white-space: pre;
  width: 188px;
  z-index: 99;
  -webkit-font-smoothing: antialiased; 
} */

/* #related-items {
  font-family: 'Oswald', sans-serif;
  text-align: center;
} */

.slider {
  text-align: center;
  display: inline-block;
  width: 90%;
  height: 500px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

 /* .slider {
  text-align: center;
  display: inline-block;
  width: 90vw;
  height: 500px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}  */

.slider h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 13px 0;
}
.item-box {
  width: 265.5px;
  margin: 25px 0;
  padding: 10px 2px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.item-box, img {
  text-align: center;
  width: 13vw;
  margin: 0, 5px;
}

img:hover {
  cursor: pointer;
}
.item-box .item-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto 0 auto;
  font-size: 14px;
  font-weight: 100;
  line-height: 19.5px;
  

}
.item-box .item-info .item-details {

}
.item-box .item-info .item-price {
  height: 19px;
  margin: 6px 0 0 0;
}
.item-box .item-info .add-to-bag {
  height: 3.3vh;
  background-color: black;
  background-attachment: scroll;
  color: white;
  text-align: center;
  margin: 0 18.5px;
}
.item-box .item-info .add-to-bag .text{
  display: inline-block;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin: 6px 0 0 0;
  height: 19px;
}
.item-box .item-info .add-to-bag select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  top: -25px;
  align-items: center;
  background-attachment: scroll;
  cursor: pointer;
  height: 30px;
  max-width: 100%;
  min-width: 1px;
  opacity: 0;
  outline-offset: -2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  vertical-align: middle;
  white-space: pre;
  width: 188px;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
}
.slick-arrow {
  width: 2vw;
  height: 4.5vh;
}

#add-to-bag{
  position: absolute;
  /* height: 20vh;
  top: 77vh; */
  top: 0;
  right: 0;
  overflow: visible !important;
}

#add-to-bag.sc-EHOje.jKIeok{
  position: absolute;
  height: 20vh;
  top: 77vh;
  overflow: visible !important;
}

.ui.basic.segment{
  /* margin-top: 70vh !important; */
  margin-right: 5vw;
}

.ui.segment.pushable{
  overflow: visible !important;
  height: 100vh;
  background: 0, 0, 0, 0;
}

.ui.segment{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
}

.ui.white.vertical.labeled.icon.ui.overlay.right.visible.sidebar.sidebar.menu{
  position: absolute;
  top: -77vh;
  /* bottom: 63vh; */
  /* overflow: visible !important; */
  /* height: 100% !important; */
  width: 100% !important;
}

.pusher{
  height: 10vh;
}

.proxy-body{
  height: initial;
  margin: initial;
  padding: initial;
  overflow-x: hidden;
  min-width: initial;
  background: initial;
  font-family: initial;
  font-size: initial;
  line-height: initial;
  color: initial;
}

/* *, :after, :before {
  -webkit-box-sizing: initial;
  box-sizing: initial;
} */

.checked {
  color: orange;
}

.ui.grid{
  margin: 1rem;
}

.review-name{
  font-family: 'Oswald', sans-serif;
}

.review-title{
  font-family: 'Oswald', sans-serif;
}

.review{
  font-family: 'Oswald', sans-serif;
}

.overlay:after{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5)
}